{% extends 'base.html' %}
    {% block content %}
        {% for posts in posts %}
            <article class="post">
                <header>
                    <div>
                        <h1>{{ posts.title }}</h1>
                    <div class="about"> Criado por {{ posts['author'] }} em {{ posts['created'].strftime('%d-%m-%Y') }}</div>
                    </div>
                </header>
                <p class="body"> {{ posts['body'] }}</p>
            </article>
            {% if not loop.last %}
            <hr>
            {% endif %}
        {% endfor %}
    {% endblock%}

            